.top-actions {
	margin-top: 20px;
}

.logo {	
	ccolor: blue;
}

.sub-nav {
	background-color: #25A9EE;
	padding: 0.5em 0;
}
.sub-nav dd a {
	color: white;
}

.fullWidth {
   width: 100%;
   margin: 0 auto;  
}
.box1 {
	background-color: #25A9EE;	
	color: #fff;
	display: inline-block;
	padding: 0 0.3em;
}
.muted {
	color: #999;
}
.muted888 {
	color: #988;
}
p {	
	margin-bottom: 0.3rem;
}


